prepare_data/parameters.sh
*.egg-info/
ivadomed/__init__.pyc

# All build folders
build/

# All Bin/.Bin
.bin/
bin/

# All __pycache__
__pycache__/

# All test output folders
tmp/

# Logs
log.txt

# Pycharm stuff
.idea

# VSCode stuff
.vscode

# Pytest Cache, anywhere:
.pytest_cache/

# ivadomed pytest downloaded data file, anywhere:
data_testing/
data_functional_testing/
data_multi_testing/

# OS Specific hidden file
.DS_Store

# venv
venv/

# Singularity Container
*.sif
