bids-neuropoly>=0.2
csv-diff>=1.0
h5py==2.10.0
joblib
matplotlib>=3.3.0
nibabel
onnxruntime==1.4.0
pandas
pillow>=7.0.0
pybids>=0.12.4
pytest
scikit-learn>=0.20.3
scikit-image
seaborn
tensorboard
torch>=1.5.0
torchvision>=0.6.0
tqdm>=4.30
