# CPU Compatible Requirements
-r requirements.txt

# Dev:
# Development, documentation, testing related dependencies.
pytest~=6.2
pytest-cov
pytest-ordering~=0.6
pytest-cases~=3.6.8
sphinx
flake8
coverage
coveralls
pypandoc
sphinx_rtd_theme
sphinx-jsonschema~=1.16
pytest-console-scripts~=1.1
pre-commit==2.10.1
sphinx-tabs==3.2.0
