csv-diff>=1.0
h5py==2.10.0 ; python_version < '3.9'
h5py==3.2.1 ; python_version == '3.9'
loguru~=0.5
joblib~=1.0
matplotlib>=3.3.0
nibabel~=3.2
onnxruntime==1.7.0
pandas~=1.1
pillow>=7.0.0
pybids>=0.12.4
scikit-learn>=0.20.3
scikit-image~=0.17
seaborn~=0.11
tensorboard~=2.4
tqdm>=4.30
scipy

# workarounds for pip 20.0.2's buggy dependency resolver
# which doesn't account for cross-package constraints: https://pip.pypa.io/en/stable/user_guide/#changes-to-the-pip-dependency-resolver-in-20-3-2020
# matplotlib pulls in the latest pyparsing, nibabel pulls in the latest packaging, and the two latests are in conflict.
# > ERROR: packaging 21.2 has requirement pyparsing<3,>=2.0.2, but you'll have pyparsing 3.0.5 which is incompatible.
# This forces the older pip, if the user has the older pip, to behave itself.
# This is to specially support users on Ubuntu 20.04 LTS; when Ubuntu 22.04 LTS comes out, this can be removed.
pyparsing<3,>=2.0.2
