csv-diff>=1.0
h5py==2.10.0 ; python_version < '3.9'
h5py==3.2.1 ; python_version == '3.9'
loguru~=0.5
joblib~=1.0
matplotlib>=3.3.0
nibabel~=3.2
onnxruntime==1.7.0
pandas~=1.1
pillow>=7.0.0
pybids>=0.12.4
scikit-learn>=0.20.3
scikit-image~=0.17
seaborn~=0.11
tensorboard~=2.4
tqdm>=4.30
scipy
