/* body{font-family:'Roboto',sans-serif;} */
.wy-side-nav-search>div.version{color:#000000;} a:visited{color:#0285b0;}
.wy-menu-vertical a:visited{color:#d9d9d9;}
.wy-menu-vertical p.caption{color:#fc5656;}
.wy-nav-content {max-width: none;}
div#purpose table p{text-align: center;}