name: Pre-commit check hooks
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pre-commit-checks:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Cache pip dependencies
        id: cache-pip-dependencies
        uses: actions/cache@v2
        with:
          # Ubuntu-specific, see
          # https://github.com/actions/cache/blob/main/examples.md#python---pip
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install ivadomed
        if: steps.cache-pip-dependencies.cache-hit != 'true'
        run: |
          pip install ".[docs, dev]"
      - name: Run pre-commit large file check
        run: pre-commit run --all-files check-added-large-files
      - name: Run pre-commit Python syntax check
        run: pre-commit run --all-files check-ast
      - name: Run pre-commit merge conflict string check
        run: pre-commit run --all-files check-merge-conflict
      - name: Run pre-commit JSON check
        run: pre-commit run --all-files check-json
      - name: Run pre-commit YAML check # for GitHub Actions configs
        run: pre-commit run --all-files check-yaml
